@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

$height: 46px;

.select {
  width: 100%;
  position: relative;
  max-width: 232px;
  
  @media (max-width:900px){
    width: calc(132px + 182 * (100vw - 320px) / 750);
  }
  
  &.open {
    .select__dropdown {
      max-height: 200px;
      opacity: 1;
      overflow: auto;
    }
    
    .select__input {
      border-bottom: none;
  
      &:before {
        transform: rotate(45deg) translateY(-50%);
      }
      &:after{
        transform: rotate(-45deg) translateY(-50%);
        right: 20px;
  
        @media (max-width:$md4 + px){
          right: 14px;
        }
      }
    }
    
    .select__backdrop {
      display: block;
    }
  }
  
  &__input {
    height: $height;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    justify-content: space-between;
    z-index: 12;
    position: relative;
    background-color: white;
    @media (max-width:$md4+px){
      padding: 0 5px;
      height: 36px;
      
      span{
        font-size: 14px;
      }
    }
    
    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 3px;
      background-color: #7bc3e5;
      transform: rotate(-45deg) translateY(-50%);
      top: 50%;
      right: 15px;
      transition: all 0.3s ease 0s;
      
      @media (max-width:$md4+px){
        right: 10px;
      }
    }
    &:after{
      content: '';
      position: absolute;
      width: 10px;
      height: 3px;
      background-color: #7bc3e5;
      transform: rotate(45deg) translateY(-50%);
      top: 50%;
      right: 23px;
      transition: all 0.3s ease 0s;
      
      @media (max-width:$md4+px){
        right: 17px;
      }
    }
    
    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      text-overflow: ellipsis; /* will make [...] at the end */
      width: 170px; /* change to your preferences */
      white-space: nowrap; /* paragraph to one line */
      overflow:hidden; /* older browsers */
      color: #3d3d3d;
      @include adaptiv-value('font-size',18,12,0);
      @include adaptiv-value('line-height',18,12,0);
      @media (max-width: 588px){
        width: 130px;
      }
      @media (max-width:$md4 + px){
        width: 105px;
      }
    }
  }
  
  &__dropdown {
    position: absolute;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, .3);
    z-index: 100;
    background: white;
    opacity: 0;
    transition: all 0.15s ease 0s;
  }
  
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    display: none;
    
  }
  
  &__item {
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    
    &.selected {
      background-color: bisque;
    }
    
    @media (any-hover: hover) {
      &:hover {
        background-color: #eee;
        cursor: pointer;
        transition: background-color 0.15s ease 0s;
        
      }
    }
  }
}
